* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

html {
  min-width: 800px;
  max-width: 1300px;
}

body {
  position: relative;
}

nav {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 999;
}

main a {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
}

aside a {
  flex: 1;
}

footer a {
  color: #08c;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  border-radius: 4px;
}

.nav-bar li {
  flex: 1;
  height: 36px;
  text-align: center;
  background: linear-gradient(#666, #5e5e5e 50%, #707070 50%, #808080);
  display: flex;
}

.nav-bar li a {
  flex-basis: 100%;
  color: white;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.nav-bar span {
  display: block;
  width: 100%;
}

.nav-bar li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-bar li:last-child {
  flex: 1.5;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.apple-icon {
  background: url(../images/apple-16.png) 50% 50% no-repeat;
}

.search-bar {
  background: url(../images/search-solid.svg) 5px 50% no-repeat;
  background-size: 15px 15px;
  width: 80%;
  margin: 5px auto;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(58, 57, 57) inset;
  direction: rtl;
  color: white;
}

.nav-bar li:not(:first-child) {
  border-left: 1px solid rgb(68, 68, 68);
}

.nav-bar li:hover:not(:last-child) {
  background: linear-gradient(rgb(53, 52, 52), #414040 50%, #525050 50%, #636262);
}

.nav-bar li:last-child {
    transition: 1s;
}

.nav-bar li:last-child:hover {
  transition: 0.5s;
  flex: 3;
}

main {
  background: url(../images/your_verse_hero.jpg) 50% 100% no-repeat;
  width: 100%;
  height: 538px;
  background-size: cover;
  display: flex;
}

main div {
  display: flex;
  width: 65%;
  flex-direction: column;
  margin: auto;
}

.title span,
.subtitle span,
.your-verse span {
  display: block;
  width: 100%;
  flex: 1;
}

.title {
  height: 104px;
  font-size: 60px;
}

.subtitle {
  flex-direction: column;
  height: 82px;
  font-size: 27px;
}

.your-verse {
  height: 60px;
  font-size: 20px;
}

.your-verse:hover {
  text-decoration: underline;
}

.play-icon {
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
}

aside {
  display: flex;
  margin: 2px auto;
}

aside img {
  width: 100%;
}

footer {
  display: block;
  width: 75%;
  margin: 20px auto;
  font-size: 10px;
  color: #6e6e6e;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}

footer img {
  position: relative;
  top: 5px;
}

footer a:hover {
  text-decoration: underline;
}
